{% extends './partials/base.html' %}
{% block content%}
    <h3>Enter the needed pieces</h3>
    <form action="/estimate" method="post">
      {% csrf_token %}
      <div>
        <h5>Dependencies week 1</h5>
        <input type="number" name="input">
      </div></br>
      
      <div id="newitems">
      </div>
    
      <button id="createDivButton" ><i class="fa-solid fa-plus"></i></button>
      <button type="submit">Estimate</button>
    </form>
{% endblock %}
      
{% block scripts %}
<script>
  week = 2
  document.getElementById('createDivButton').addEventListener('click', function() {
      event.preventDefault();
      // Create a new div
      const newDiv = document.createElement('div');
      // Create an h5 tag
      const h5 = document.createElement('h5');
      h5.textContent = 'Dependencies week '+ week; // Text for the h5
      week += 1;
      // Create an input tag
      const input = document.createElement('input');
      input.type = 'number';
      input.name = 'input';
      // Append h5 and input to the new div
      newDiv.appendChild(h5);
      newDiv.appendChild(input);
      // Append the new div to the container
      document.getElementById('newitems').appendChild(newDiv);
    });
</script>
{% endblock %}