{% extends './partials/base.html'%}
{% block content %}
<style>
    .container {
        margin-top:5rem;
        position: relative;
        min-width: 300px;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 60px 10px 10px; /* top padding leaves space for fixed title */
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: #f9f9f9;
    }

    .container h2 {
      position: absolute;
      top: 10px;
      margin-left:13rem;
      font-size: 2rem;
      color:#4682B4;
    }

    .container table {
      flex: 1 1 100px;
      background: #e3e3e3;
      padding: 10px;
      text-align: center;
    }

    form{
        margin-left: 12rem;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      width: 80%;
      margin-bottom: 2rem;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px 15px;
      text-align: center;
    }

    th {
      background-color: #007BFF;
      color: white;
    }
    #cancel-button{
        margin-left:1rem;
        background-color: #FF4C4C;
        border: 0.5rem solid #FF4C4C;
    }
    #archive{
        background-color: #4682B4;
        border: 0.5rem solid #4682B4;
    }
</style>
<div class="container">
    <h2>Order #{{order.id}}</h2>
    <table>
        <tr>
            <th>Weeks</th>
            {% for i in range %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Requirements</th>
            <td>Inventory</td>
            {% for i in data %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Deliverables</th>
            {% for i in range %}
                <td>test</td>
            {% endfor %}
        </tr>
    </table>
    <form action="archive" method="post">
        {% csrf_token %}
        <input type="hidden" name="order" id="order" value='{{order.id}}'>        
        <button id="archive">Archive</button>
        <button formaction="track_order" formmethod="get" id="cancel-button">Cancel</button>
    </form>
</div>
    

{% endblock %}


{% block scripts %}
{% endblock %}
