{% extends './partials/base.html'%}
{% block content %}
{{ customers|json_script:"customers-data" }}
{{ orders|json_script:'orders-data' }}
{{ archive|json_script:'archive-data' }}
<style>
    .menu {
      margin-bottom: 20px;
    }
    .menu button {
      margin-right: 10px;
      padding: 10px 20px;
      cursor: pointer;
    }
    .section {
      display: none;
    }
    .section.active {
      display: block;
    }
    .section input {
      display: block;
      margin-bottom: 10px;
    }
    .container {
      margin-top: 5rem;
      text-align: center;
      width: 100%;
      height: 12rem;
      background-color: #F8F9FA;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
      .date-range {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .center-container {
        /* height: 100vh; Full screen height */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center;     /* Center vertically */
      }
      .section button{
        margin-top:1rem;
      }
      /* .chart_div {
        position: absolute;
        left: -9999px;
        top: -9999px;
        width: 800px;
        height: 400px;
      } */
</style>
<div class="container">
    <div class="menu">
      <button onclick="displaySection('customers')">Customers</button>
      <button onclick="displaySection('forecasting')">Forecasting</button>
      <button onclick="displaySection('order')">Orders</button>
      <button onclick="displaySection('all')">All</button>
  </div>

  <div id="customers" class="section">
      <button onclick="myFunction('customers')">Download Customers</button>
  </div>

  <div id="forecasting" class="section">
    <div class="center-container">
      <div class="date-range">
        <label for="from">From : </label>
        <input type="date" placeholder="Enter from date" name="from" id="from_forecasting">
        <label for="to">To : </label>
        <input type="date" placeholder="Enter to date" name="to" id="to_forecasting">
      </div>
    </div>
      <button onclick="myFunction('forecasting')">Download Forecasting</button>
  </div>

  <div id="order" class="section">
    <div class="center-container">
      <div class="date-range">
        <label for="from">From : </label>
        <input type="date" placeholder="Enter from date" name="from" id="from_order">
        <label for="to">To : </label>
        <input type="date" placeholder="Enter to date" name="to" id="to_order">
      </div>
    </div>
      <button onclick="myFunction('order')">Download Order</button>
  </div>

  <div id="all" class="section">
    <div class="center-container">
      <div class="date-range">
        <label for="from">From : </label>
        <input type="date" placeholder="Enter from date" name="from" id="from_all">
        <label for="to">To : </label>
        <input type="date" placeholder="Enter to date" name="to" id="to_all">
      </div>
    </div>
    
    <button onclick="myFunction('all')">Download General</button>
  </div>
  
  <div class="chart_div" style="width: 800px; height: 400px;"></div>
</div>

    
{% endblock %}



{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    
    function displaySection(id) {
      const sections = document.querySelectorAll('.section');
      sections.forEach(section => section.classList.remove('active'));
      document.getElementById(id).classList.add('active');
    }
    console.log();

    async function myFunction(section){
      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();

      // Header section
      doc.setFontSize(12);
      doc.addImage('/static/images/PyTrack.png',12, -1, 50, 50);
      const cmers = JSON.parse(document.getElementById('customers-data').textContent);
      const orders = JSON.parse(document.getElementById('archive-data').textContent).concat(JSON.parse(document.getElementById('orders-data').textContent));
      doc.setFontSize(14);
      doc.text("PyTrack Inc.", 170, 25, { align: "right" });
      doc.setFontSize(10);
      doc.text("Date: " + new Date().toLocaleDateString('en-US', {day:'numeric', month:'long', year:'numeric'}), 170, 32, { align: "right" });
      let y = 50;
      doc.setFontSize(12);
      switch (section){
        case 'customers':
          doc.text("Customers", 14, y);
          y += 4;
          doc.autoTable({
            head: [['Brand', 'TIN', 'Phone']],
            body: cmers.map(c => [c.brand, c.tin, c.phone]),
            y: y,
            theme: 'striped',
            margin: { top: y },
            styles: { fontSize: 10 },
            didDrawPage: function (data) {
              if (data.pageCount > 1 && data.pageCount > doc.getNumberOfPages() - 1) {
                doc.setFontSize(14);
                doc.text("Your Company Name", 150, 15, { align: "right" });
                doc.setFontSize(10);
                doc.text("Date: " + getCurrentDateFormatted(), 150, 22, { align: "right" });
                doc.rect(10, 10, 30, 20);
                doc.text("LOGO", 15, 22);
              }
            }
          });
          break;
        case 'order':
          doc.text("Orders", 14, y);
          y += 4;
          from_date = document.getElementById('from_order').value;
          to_date = document.getElementById('to_order').value;
          final_orders = []
          for (let i=0; i<orders.length; i++){
              if (orders[i]['date']>= from_date && orders[i]['date']<=to_date){
                  final_orders.push(orders[i]);
              }
          }
          final_orders.sort((a,b) => a.date.localeCompare(b.date));
          doc.autoTable({
            head: [['Customer', 'Date']],
            body: final_orders.map(o => [o.customer, o.date]),
            y: y,
            theme: 'striped',
            margin: { top: y },
            styles: { fontSize: 10 },
            didDrawPage: function (data) {
              if (data.pageCount > 1 && data.pageCount > doc.getNumberOfPages() - 1) {
                doc.setFontSize(14);
                doc.text("Your Company Name", 150, 15, { align: "right" });
                doc.setFontSize(10);
                doc.text("Date: " + getCurrentDateFormatted(), 150, 22, { align: "right" });
                doc.rect(10, 10, 30, 20);
                doc.text("LOGO", 15, 22);
              }
            }
          });
          break;
        case 'forecasting':
          doc.text("Forecasting", 14, y);
          y += 4;
          // remove the dated from and to 
          // make charts as in the forecasting pages
          // store them in png files
          // add them in the pdf
          break;
        case 'all':
          // orders 
          doc.text("Orders", 14, y);
          y += 4;
          from_date = document.getElementById('from_all').value;
          to_date = document.getElementById('to_all').value;
          final_orders = []
          for (let i=0; i<orders.length; i++){
              if (orders[i]['date']>= from_date && orders[i]['date']<=to_date){
                  final_orders.push(orders[i]);
              }
          }
          final_orders.sort((a,b) => a.date.localeCompare(b.date));
          doc.autoTable({
            head: [['Customer', 'Date']],
            body: final_orders.map(o => [o.customer, o.date]),
            y: y,
            theme: 'striped',
            margin: { top: y },
            styles: { fontSize: 10 },
            didDrawPage: function (data) {
              if (data.pageCount > 1 && data.pageCount > doc.getNumberOfPages() - 1) {
                doc.setFontSize(14);
                doc.text("Your Company Name", 150, 15, { align: "right" });
                doc.setFontSize(10);
                doc.text("Date: " + getCurrentDateFormatted(), 150, 22, { align: "right" });
                doc.rect(10, 10, 30, 20);
                doc.text("LOGO", 15, 22);
              }
            }
          });
          y += final_orders.length*9;
          doc.text("Customers", 14, y);
          doc.autoTable({
            head: [['Brand', 'TIN', 'Phone']],
            body: cmers.map(c => [c.brand, c.tin, c.phone]),
            y: y,
            theme: 'striped'
          });
          break;
      }
      doc.save("company_report.pdf");
    };

</script>
{% endblock %}